<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="/style.css" rel="stylesheet">
    </head>

    <body>

        <h1 id="mainHeading">Create your personal journal here.</h1>
        
            <div id ="addIconContainer">
                <a href="/NewJournal"><svg id="addIcon" xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                </svg></a>
            </div>

        <div class="journals container">
            <ul>
                <% journalEntries.forEach(function(e) { %> <!--the 'e' parameter represents the current element of each loop-->
                <a href="/journal/<%= encodeURIComponent(e.JournalTitle) %>">
                    <li><%= e.JournalTitle %></li>
                </a>
                <% }); %>
            </ul>
        </div>

        <div class="footer">
            <footer><a href="https://selinaxyy.github.io/myWebsite/" target="_blank">Yiyang Xue</a> <%= new Date().getFullYear() %></footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="script.js" charset="utf-8"></script>
    </body>
</html>
